:root {
    --clr-black: #000;
    --clr-blue: rgb(0, 119, 255);

    --primary-font: 'montserrat';
    --secondary-font: 'metropolis';
    --secondary-fontThin: 'metropolis-thin';

    --font-big: 1.25rem;
    --font-medium: .875rem;
    --font-small: .7rem;

    --padding-sides: 1.5rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: var(--primary-font);
}
body {
    min-height: 100vh;
    background-image: 
    linear-gradient(rgb(210, 252, 255), rgb(238, 170, 255));
}
h2 {
    font-family: var(--secondary-font);
    font-size: var(--font-big);
    line-height: 1.5rem;
}
h4 {
    font-family: var(--secondary-fontThin);
    font-size: var(--font-medium);
    line-height: .875rem;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: min(100%, 662px);
}
.wrapper {
    min-height: 492px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 31.27% 1fr;
    overflow: hidden;
    box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.14);
}
.box {
    position: relative;
    background-color: #fff;
}
.background__box {
    background-color: darkblue;
}
.form__box {
    padding: 0 var(--padding-sides);
}


.get-started {
    margin: 100px 0 30px 0;
}

.form__wrapper {
    margin: 0 0 100px 0;
    max-width: 275px;
    min-height: 160px;
}
.input__wrapper {
    gap: 29px;
}
.input {
    width: 100%;
    height: 21px;
    margin: 1rem 0 0 0;
    padding: 4px;
    font-size: var(--font-small);
    border: 1px solid;
    outline: none;
}
::placeholder {
    font-size: var(--font-small);
}
.input__first-name,
.input__last-name {
    margin: 0;
    width: 123px;
}




.sign-in {
    justify-content: flex-start;
    font-size: var(--font-small);
}